## NOTE: using the default "Python 3" Kernel to run Scispacy

In [1]:
# !pip install scispacy

In [2]:
# ! pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_core_sci_sm-0.4.0.tar.gz

In [3]:
# ! pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_core_sci_scibert-0.4.0.tar.gz

In [4]:
# !pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.3.0/en_core_sci_lg-0.3.0.tar.gz

In [5]:
# !pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.3.0/en_core_sci_md-0.3.0.tar.gz

In [1]:
import scispacy
import spacy
import pandas as pd
import seaborn as sns

In [2]:
from scispacy.linking import EntityLinker

## Load model

In [3]:
nlp = spacy.load("en_core_sci_scibert")
# nlp = spacy.load("en_core_sci_lg")
# nlp = spacy.load("en_core_sci_md")
# nlp = spacy.load("en_core_sci_sm")

In [4]:
nlp.add_pipe("scispacy_linker", config={"resolve_abbreviations": True, "name": "umls"
#                                         "threshold": 0.85
                                       })

/home/ubuntu/anaconda3/lib/python3.8/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator TfidfTransformer from version 0.20.3 when using version 0.23.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
/home/ubuntu/anaconda3/lib/python3.8/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator TfidfVectorizer from version 0.20.3 when using version 0.23.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

### Test example

In [5]:
# Replace text without your own data
text = "Spinal and bulbar muscular atrophy (SBMA) is an \
       inherited motor neuron disease caused by the expansion \
       of a polyglutamine tract within the androgen receptor (AR). \
       SBMA can be caused by this easily."

doc = nlp(text)

In [6]:
linker = nlp.get_pipe("scispacy_linker")

In [7]:
for ent in doc.ents:
    print('---------------------------------')
    print("Span: ", ent.start, ent.end, ent.start_char, ent.end_char)
    print("String: ", ent)
#     print(ent._.kb_ents)
    for umls_ent in ent._.kb_ents[:1]:
        print("Top entity per mention: ", umls_ent[0], " score: ", umls_ent[1])
        print('====================================')
        print(linker.kb.cui_to_entity[umls_ent[0]])

---------------------------------
Span:  0 1 0 6
String:  Spinal
Top entity per mention:  C0521329  score:  1.0
====================================
CUI: C0521329, Name: Spinal
Definition: Of or relating to the spine or spinal cord.
TUI(s): T082
Aliases: (total: 2):
	 Spinal, spinal
---------------------------------
Span:  2 5 11 34
String:  bulbar muscular atrophy
Top entity per mention:  C1839259  score:  0.9092331528663635
====================================
CUI: C1839259, Name: Bulbo-Spinal Atrophy, X-Linked
Definition: An X-linked recessive form of spinal muscular atrophy. It is due to a mutation of the gene encoding the ANDROGEN RECEPTOR.
TUI(s): T047
Aliases (abbreviated, total: 39):
	 Bulbospinal Muscular Atrophy, X linked, SMAX1, X Linked Spinal and Bulbar Muscular Atrophy, Bulbospinal muscular atrophy, kennedy's syndrome, Atrophy, Muscular, Spinobulbar, X Linked Bulbo Spinal Atrophy, X-Linked Spinal and Bulbar Muscular Atrophy, Bulbo Spinal Atrophy, X Linked, X-Linked Bulbo-Spinal Atrophy
---------------------------------
Span:  6 7 36 40
String:  SBMA
Top entity per mention:  C1705240  score:  0.9999998807907104
====================================
CUI: C1705240, Name: AR wt Allele
Definition: Human AR wild-type allele is located within Xq11.2-q12 and is approximately 180 kb in length. This allele, which encodes androgen receptor protein, is involved in steroid-hormone activated transcriptional regulation. Mutations in the gene are associated with complete androgen insensitivity syndrome.
TUI(s): T028
Aliases (abbreviated, total: 11):
	 AIS, AR wt Allele, TFM, KD, SMAX1, HUMARA, NR3C4, Androgen Receptor (Dihydrotestosterone Receptor; Testicular Feminization; Spinal and Bulbar Muscular Atrophy; Kennedy Disease) wt Allele, SBMA, AR
---------------------------------
Span:  12 15 65 85
String:  motor neuron disease
Top entity per mention:  C0085084  score:  1.0
====================================
CUI: C0085084, Name: Motor Neuron Disease
Definition: Diseases characterized by a selective degeneration of the motor neurons of the spinal cord, brainstem, or motor cortex. Clinical subtypes are distinguished by the major site of degeneration. In AMYOTROPHIC LATERAL SCLEROSIS there is involvement of upper, lower, and brainstem motor neurons. In progressive muscular atrophy and related syndromes (see MUSCULAR ATROPHY, SPINAL) the motor neurons in the spinal cord are primarily affected. With progressive bulbar palsy (BULBAR PALSY, PROGRESSIVE), the initial degeneration occurs in the brainstem. In primary lateral sclerosis, the cortical neurons are affected in isolation. (Adams et al., Principles of Neurology, 6th ed, p1089)
TUI(s): T047
Aliases (abbreviated, total: 25):
	 motor neuron diseases, Motor Neuron Diseases and Syndromes, MOTOR SYSTEM DISEASE, Neuron Diseases, Motor, Motor neuron disease, NOS, degenerative motor system disorder, Motor System Diseases, Motor Neuron Diseases, MND - Motor neurone disease, disease motor neurons
---------------------------------
Span:  18 19 100 109
String:  expansion
Top entity per mention:  C0007595  score:  0.8664658665657043
====================================
CUI: C0007595, Name: Cell Growth
Definition: The process in which a cell irreversibly increases in size over time by accretion and biosynthetic production of matter similar to that already present. [GOC:ai]
TUI(s): T043
Aliases (abbreviated, total: 11):
	 cell expansion, cell growth, growth of cell, Cells--Growth, Cellular Expansion, cellular growth, Cell Growth, cell growths, Cellular Growth, growth cell
---------------------------------
Span:  22 24 122 141
String:  polyglutamine tract
Top entity per mention:  C0032500  score:  0.7472081780433655
====================================
CUI: C0032500, Name: Polyglutamic Acid
Definition: A peptide that is a homopolymer of glutamic acid.
TUI(s): T116
Aliases: (total: 2):
	 L-Glutamic acid, homopolymer, polyglutamic acid
---------------------------------
Span:  26 28 153 170
String:  androgen receptor
Top entity per mention:  C0034786  score:  1.0
====================================
CUI: C0034786, Name: Androgen Receptor
Definition: Proteins, generally found in the CYTOPLASM, that specifically bind ANDROGENS and mediate their cellular actions. The complex of the androgen and receptor migrates to the CELL NUCLEUS where it induces transcription of specific segments of DNA.
TUI(s): T116, T192
Aliases (abbreviated, total: 25):
	 Receptor, 5 alpha-Dihydrotestosterone, Receptors, Stanolone, Androgens Receptors, 5 alpha Dihydrotestosterone Receptor, Receptors, Androgen, Receptor, Stanolone, androgen receptor, Receptor, Androgen, 5 alpha-Dihydrotestosterone Receptor, Receptors, Dihydrotestosterone
---------------------------------
Span:  29 30 172 174
String:  AR
Top entity per mention:  C0003504  score:  1.0
====================================
CUI: C0003504, Name: Aortic Valve Insufficiency
Definition: Pathological condition characterized by the backflow of blood from the ASCENDING AORTA back into the LEFT VENTRICLE, leading to regurgitation. It is caused by diseases of the AORTIC VALVE or its surrounding tissue (aortic root).
TUI(s): T047
Aliases (abbreviated, total: 39):
	 Aortic Insufficiency, Aortic incompetence, Aortic valve regurgitation, AORTIC REGURGITATION, AORTIC VALVE REGURGITATION, aortic insufficiency, Aortic Regurgitation, Aortic valve incompetence, Regurgitation, Aortic Valve, Aortic valve insufficiency
---------------------------------
Span:  33 34 184 188
String:  SBMA
Top entity per mention:  C1705240  score:  0.9999998807907104
====================================
CUI: C1705240, Name: AR wt Allele
Definition: Human AR wild-type allele is located within Xq11.2-q12 and is approximately 180 kb in length. This allele, which encodes androgen receptor protein, is involved in steroid-hormone activated transcriptional regulation. Mutations in the gene are associated with complete androgen insensitivity syndrome.
TUI(s): T028
Aliases (abbreviated, total: 11):
	 AIS, AR wt Allele, TFM, KD, SMAX1, HUMARA, NR3C4, Androgen Receptor (Dihydrotestosterone Receptor; Testicular Feminization; Spinal and Bulbar Muscular Atrophy; Kennedy Disease) wt Allele, SBMA, AR

## Load data

In [15]:
df = pd.read_csv("data/test_sample.csv")

In [16]:
df.head()

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text,gender,dob,dod,dod_hosp,dod_ssn,expire_flag,etl_date
0,674863,83982,147681.0,2145-04-02 00:00:00,2145-04-02 02:08:00,2145-04-02 04:31:23,Nursing,Nursing Progress Note,16436,NaN,"TITLE:\n This is a 55 y/o M, with H/O Hep C ...",M,2089-10-23 00:00:00,2145-05-04 00:00:00,2145-05-04 00:00:00,2145-05-04 00:00:00,1,2001-01-15 12:21:13
1,674864,50743,109381.0,2134-05-07 00:00:00,2134-05-07 02:19:00,2134-05-07 04:36:56,Nursing,Nursing Progress Note,20088,NaN,76 y/o M initially admitted to [**Hospital3 33...,M,2058-02-27 00:00:00,2134-06-06 00:00:00,2134-06-06 00:00:00,2134-06-06 00:00:00,1,2001-01-15 12:21:13
2,674865,96699,186382.0,2132-06-13 00:00:00,2132-06-13 04:36:00,2132-06-13 04:37:01,Respiratory,Respiratory Care Shift Note,15498,NaN,Demographics\n Day of intubation:\n Day of...,M,2079-01-01 00:00:00,2132-06-14 00:00:00,2132-06-14 00:00:00,NaN,1,2001-01-15 12:21:13
3,674925,96699,186382.0,2132-06-13 00:00:00,2132-06-13 06:37:00,2132-06-13 06:37:39,Nursing,Nursing Progress Note,16436,NaN,TITLE:\n Impaired Skin Integrity\n Assessm...,M,2079-01-01 00:00:00,2132-06-14 00:00:00,2132-06-14 00:00:00,NaN,1,2001-01-15 12:21:13
4,675045,75395,126239.0,2181-04-27 00:00:00,2181-04-27 08:01:00,2181-04-27 13:08:08,Nursing,Nursing Transfer Note,15659,NaN,"54yr man with hx metastatic renal cell ca, c/o...",M,2126-07-20 00:00:00,2181-05-22 00:00:00,2181-05-22 00:00:00,2181-05-22 00:00:00,1,2001-01-15 12:21:13

## Annotate data

In [ ]:
print("Span: ", ent.start, ent.end)
print("String: ", ent)

In [17]:
docs = {}
for name, text in df[['row_id', 'text']].values:
    concepts = []
    doc = nlp(text)
    for ent in doc.ents:
        
        for umls_ent in ent._.kb_ents[:1]:
            concepts.append(umls_ent[0])
#             print("Top entity per mention: ", umls_ent[0], " score: ", umls_ent[1])
    #         print(linker.kb.cui_to_entity[umls_ent[0]])
    docs[name] = dict( [ (i, concepts.count(i)) for i in set(concepts) ] )

In [13]:
# docs

## Annotation pipeline

Read notes from postgres database on 10.200.106.114 and store annotations to Elasticsearch 10.200.112.204

In [5]:
from sqlalchemy import create_engine
sql_engine = create_engine('postgresql://ckg:Admin123@10.200.106.114:5432/mimic')

In [6]:
from elasticsearch import Elasticsearch
from elasticsearch_dsl import Search, Q
from elastic_util import *

In [ ]:
batch = 10000
for i in range(batch):
    print(i)
    sql_query = 'select * from noteevents_new_date where row_id%' + str(10000) + '=' + str(i)
    df = pd.read_sql_query(sql_query, con=sql_engine)
    dlist = []
    for row_id, subject_id, text in df[['row_id', 'subject_id', 'text']].values:
        doc = nlp(text)
        for ent in doc.ents:
    #         print(ent.start_char, ent.start)
            for umls_ent in ent._.kb_ents[:1]:
                dlist.append([row_id, subject_id, ent.start_char, ent.end_char, ent.text, umls_ent[0], umls_ent[1]])
    data = pd.DataFrame(dlist, columns=['row_id', 'subject_id', 'start_char', 'end_char', 'text', 'cui', 'score'])    
    data['ann_id'] = data['row_id'].astype(str) + data["start_char"].astype(str)
    
    
    es_user = 'elastic'
    es_pass = 'Admin2019' 
    es_ip = '10.200.112.204'
    es_port = '9200'

    client = Elasticsearch(['http://%s:%s@%s:%s' % (es_user, es_pass, es_ip, es_port)], 
                           request_timeout=6000, retry_on_timeout=True)
    
    doc_type = '_doc'
    doc_index = 'ann_id'
    index='mimic_scispacy'
    
    result = bulk_insert(client, data, index, doc_type, doc_index)
    if result == False:
        print('Current batch:  ', i)
        break

0

/home/ubuntu/anaconda3/lib/python3.8/site-packages/elasticsearch/connection/base.py:190: ElasticsearchDeprecationWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchDeprecationWarning)

1

/home/ubuntu/anaconda3/lib/python3.8/site-packages/elasticsearch/connection/base.py:190: ElasticsearchDeprecationWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchDeprecationWarning)

2

/home/ubuntu/anaconda3/lib/python3.8/site-packages/elasticsearch/connection/base.py:190: ElasticsearchDeprecationWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchDeprecationWarning)

3

/home/ubuntu/anaconda3/lib/python3.8/site-packages/elasticsearch/connection/base.py:190: ElasticsearchDeprecationWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchDeprecationWarning)

4

/home/ubuntu/anaconda3/lib/python3.8/site-packages/elasticsearch/connection/base.py:190: ElasticsearchDeprecationWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchDeprecationWarning)

5

/home/ubuntu/anaconda3/lib/python3.8/site-packages/elasticsearch/connection/base.py:190: ElasticsearchDeprecationWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchDeprecationWarning)

6

/home/ubuntu/anaconda3/lib/python3.8/site-packages/elasticsearch/connection/base.py:190: ElasticsearchDeprecationWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchDeprecationWarning)

7

/home/ubuntu/anaconda3/lib/python3.8/site-packages/elasticsearch/connection/base.py:190: ElasticsearchDeprecationWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchDeprecationWarning)

8

/home/ubuntu/anaconda3/lib/python3.8/site-packages/elasticsearch/connection/base.py:190: ElasticsearchDeprecationWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchDeprecationWarning)

9

/home/ubuntu/anaconda3/lib/python3.8/site-packages/elasticsearch/connection/base.py:190: ElasticsearchDeprecationWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchDeprecationWarning)

10

/home/ubuntu/anaconda3/lib/python3.8/site-packages/elasticsearch/connection/base.py:190: ElasticsearchDeprecationWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchDeprecationWarning)

11

/home/ubuntu/anaconda3/lib/python3.8/site-packages/elasticsearch/connection/base.py:190: ElasticsearchDeprecationWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchDeprecationWarning)

12

/home/ubuntu/anaconda3/lib/python3.8/site-packages/elasticsearch/connection/base.py:190: ElasticsearchDeprecationWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchDeprecationWarning)

13

/home/ubuntu/anaconda3/lib/python3.8/site-packages/elasticsearch/connection/base.py:190: ElasticsearchDeprecationWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchDeprecationWarning)

14

/home/ubuntu/anaconda3/lib/python3.8/site-packages/elasticsearch/connection/base.py:190: ElasticsearchDeprecationWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchDeprecationWarning)

15

/home/ubuntu/anaconda3/lib/python3.8/site-packages/elasticsearch/connection/base.py:190: ElasticsearchDeprecationWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchDeprecationWarning)

In [83]:
es_user = 'elastic'
es_pass = 'Admin2019' 
es_ip = '10.200.112.204'
es_port = '9200'

client = Elasticsearch(['http://%s:%s@%s:%s' % (es_user, es_pass, es_ip, es_port)], 
                       request_timeout=6000, retry_on_timeout=True)

In [84]:
doc_type = '_doc'
doc_index = 'ann_id'
index='mimic_scispacy'

In [85]:
bulk_insert(client, data, index, doc_type, doc_index)

/home/ubuntu/anaconda3/lib/python3.8/site-packages/elasticsearch/connection/base.py:190: ElasticsearchDeprecationWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchDeprecationWarning)

True

In [46]:
sql_query = 'select count(*), count(distinct row_id) from noteevents_new_date'

df = pd.read_sql_query(sql_query,con=sql_engine)

In [47]:
df.head()

     count    count
0  2083180  2083180

In [48]:
# sns.displot(df['row_id'])

In [49]:
df.shape

(1, 2)